@media (max-width: 767px) {
    .parallax-happy-place {
        background-image: url('../../../images/backgrounds/happy_place.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .parallax-happy-place {
        background-image: url('../../../images/backgrounds/happy_place.png');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (orientation: portrait) {
    .full-height {
        height: auto;
        position: relative;
        margin-top: 0;
        overflow-y: hidden;
    }
}

@media screen and (orientation: landscape) {
    .full-height {
        height: 100vh;
        position: relative;
        margin-top: 0;
        overflow-y: hidden;
    }
}