@media screen and (orientation: portrait) {
    .email {
        font-size: 1.5em;
    }
}

@media screen and (orientation: landscape) {
    .email {
        font-size: 2em;
    }
}

.contact-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
}