@media screen and (orientation: portrait) {
    .full-height {
        height: auto;
        position: relative;
        margin-top: 0;
        overflow-y: hidden;
    }
}

@media screen and (orientation: landscape) {
    .full-height {
        height: 100vh;
        position: relative;
        margin-top: 0;
        overflow-y: hidden;
    }
}